@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using System.Globalization
@inject NavigationManager Nav
@inject IJSRuntime JSRuntime
@inject Microsoft.Extensions.Localization.IStringLocalizer<Local> Loc
<div id="navs-wrapper">
    <nav class="navbar navbar-expand-md navbar-light bg-dark" id="header-nav">
        <div class="container-fluid" id="header-wrapper">
            <div class="d-flex flex-row-reverse flex-wrap" id="full-nav-options">
                <div class="p-2">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item mr-2">
                            <Button Class="nav-link" Color="Color.Success" Clicked="(async () => {await LoadPoolInfoAsync(); await LoadWalletsAsync();})"><i title="@Loc["Refresh"]" class="fa fa-sync"></i></Button>
                        </li>
                        @if (!WalletState.Value.IsLoading && WalletState.Value.CurrentWallets?.Any() != true)
                        {
                            <li class="nav-item mr-2">
                                <Button Class="nav-link" Color="Color.Primary" Clicked="AddWalletAndShowSettingsAsync"><i class="fa fa-plus"></i></Button>
                            </li>
                        }
                        <li class="nav-item mr-2" title="@Loc["Language"]">
                            <div class="input-group d-flex justify-content-center align-items-center">
                                <div class="input-group-prepend language-prepend">
                                    <label class="input-group-text" for="language-selection">
                                        <i class="fas fa-language"></i>
                                    </label>
                                </div>
                                <select @bind="Culture" class="nav-link custom-select pl-0 pr-4"
                                        id="language-selection">
                                    @foreach (var culture in supportedCultures)
                                    {
                                        <option value="@culture">@culture.TwoLetterISOLanguageName.ToUpper()</option>}
                                </select>
                            </div>
                        </li>
                        <li class="nav-item">
                            <Button Class="nav-link" Color="Color.Warning" Clicked="ShowSettingsAsync"><i class="fa fa-cog"></i></Button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>